
header {
    background-color: #046684;
    justify-content: center;
}

nav {  
    width: 80%;
    display: inline-block;
}

nav ul{
    color: #FFFACD;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

nav a {
    color: #FFFACD;
}

li:hover {
    color: #e2dd3f;
    font-size: 20px;
}

a:visited {
    color: inherit;
}

/* #skip {
    background-color: rgb(150, 228, 221);
} */

span {
    background-color: green;
}

span img{
    width: 10%;
    position: relative;
    top: 20px;
}

body {
    background-color: #FFFACD;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    
}

main {
    background-color: #74cc66;
    font-size: 30px;
}

footer p a {
    color:#e2dd3f;
}

footer p {
    color:#FFFACD;
}

footer {
    background-color: #046684;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: #0d1b1a;
    background-color: #FFFACD;
}

p {
    color: #0d1b1a;
    line-height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    justify-content: space-around;
}

.grid img{
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

a {
    text-decoration: none;
}